/* Profile Details */
.profile-details {
    text-align: center;
    margin-bottom: 30px;
}

.profile-name {
    font-size: 36px;
    color: gold;
    margin-bottom: 10px;
}

.profile-info {
    font-size: 18px;
    color: #F5F5F5;
    padding: 20px;
}

.replays-posted,
.joined-on {
    margin-bottom: 5px;
}

/* Steam info */

.steam-info {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steam-info .section-title {
    font-size: 28px;
    color: gold;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.steam-info .player-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.steam-info .player-avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.steam-info .recent-games-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.steam-info .recent-games-list li {
    font-size: 16px;
    color: #F5F5F5;
    margin: 5px;
    padding: 8px;
    background-color: #212121;
    border-radius: 5px;
}

/* Edit Profile Button */

.edit-profile-button {
    text-align: center;
    margin-top: 20px;
}

.edit-profile-button a {
    text-decoration: none;
    color: #F5F5F5;
    padding: 10px 20px;
    background-color: #262;
    border: none;
    border-radius: 5px;
}

.edit-profile-button a:hover {
    background-color: #45a049;
    color: gold;
}

/* Player Info */

.player-info {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
}

.player-info img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.player-details h3 {
    color: gold;
}

/* Replays Table */
.replays-table {
    width: 100%;
    border-collapse: collapse;
}


.replay-thumbnail {
    padding: 20px;
    max-width: 150px;
}

.replay-details {
    padding: 20px;
}

.replay-title {
    color: gold;
    background: #262;
    text-align: center;
    border-radius: 5px;
}

.replay-buttons {
    margin-top: 10px;
}

.replay-buttons a {
    text-decoration: none;
    color: #F5F5F5;
    padding: 10px 20px;
    background-color: #262;
    border: none;
    border-radius: 5px;
}

.replay-buttons a:hover {
    color: gold;
    background: #45a049;
}

.section-title {
    color: gold;
}

.section .replay-like {
    text-decoration: none;
    background: #262;
    color: #F5F5F5;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
}

.section .replay-like:hover {
    background: #6eff71;
    color: gold;
}

.liked-replays {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}