{% extends 'testdb/base.html' %}
{% load static %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <link href="{% static 'register_user.css' %}" rel="stylesheet">
    <div class="container-register">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                There was an error with your registration!
            </div>
        {% endif %}
        <h1 class="mb-4">Hello, you are about to register</h1>

        <form action="{% url 'register-user' %}" method="post" class="mb-3">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
                {% for error in form.errors.email %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
                {% for error in form.errors.password1 %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {{ form.password2 }}
                {% for error in form.errors.password2 %}
                    {{ error }}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <h2>{{ message }}</h2>
    </div>
{% endblock %}
