{% extends 'testdb/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'guild_create.css' %}" rel="stylesheet">
    <h1>You are about to create a guild</h1>
    <div class="container-guild-create">
        <form action="{% url 'guild-create' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" name="submit" class="btn btn-primary">Create</button>
        </form>
        {% if message %}
            <h2 class="mt-4">{{ message }}</h2>
        {% endif %}
    </div>

{% endblock %}