{% extends 'testdb/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'guild_update.css' %}" rel="stylesheet">
    <div class="container-guild-update">
        <h1 class="mb-4">{{ object.name }}</h1>
        <form action="{% url 'guild-edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.leader.id_for_label }}">Leader:</label>
                {{ form.leader }}
            </div>
            <div class="form-group">
                {{ form.banner }}
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Update Guild</button>
        </form>
        <button class="btn btn-primary"><a href="{% url 'guild-add-members' %} ">Add Members</a></button>
    </div>
{% endblock %}