{% extends 'testdb/base.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'guild_details.css' %}" rel="stylesheet">
    <h1>{{ object.name }}</h1>
    <div class="guild-details-container">
        {% if guild %}
            <div class="guild-info">
                <h3>Leader: <a class="member-link" href="{% url 'profile-details' object.leader.pk %}">{{ object.leader.appuserprofile.username }}</a></h3>
                <hr>
                <h4>Members:</h4>
                <ul class="guild-members-list">
                    {% for member in members %}
                        <li><a class="member-link"
                               href="{% url 'profile-details' member.pk %}">{{ member.appuserprofile.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div class="replays-by-guild">
                <h3>Replays by the Guild</h3>
                <ul class="guild-replays-list">
                    {% for replay in replays_by_members %}
                        <li><a class="replay-link" href="{% url 'replay-details' replay.pk %}">{{ replay.title }}</a>
                            <br>
                            Posted by: {{ replay.author.appuserprofile.username }} | Likes: {{ replay.like_set.count }}
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
                <p>Total Guild Likes: {{ total_guild_likes }}</p>
            </div>
            {% if user_is_leader %}
                <div class="edit-guild-link">
                    <a href="{% url 'guild-edit' %}">Edit Guild</a>
                </div>
            {% endif %}
        {% else %}
            <h1>You are not part of a guild.</h1>
        {% endif %}
    </div>
{% endblock %}
