{% extends 'testdb/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}
    <link href="{% static 'replay_details.css' %}" rel="stylesheet">

    <div class="replay-details">
        <h2 class="replay-title">{{ replay.title }}</h2>
        <div class="replay-info">
            <p class="replay-author">Uploaded by: {{ replay.author.appuserprofile.username }}</p>
            <p class="replay-game">Game: {{ replay.game }}</p>
        </div>
        <div class="replay-video">
            {% video replay.video_url "large" %}
        </div>
        <div class="replay-description">
            <p>{{ replay.description }}</p>
        </div>
        <div class="replay-likes">
            <p class="replay-likes-count">Likes: {{ replay.likes.count }}</p>
            {% for like in replay.likes.all %}
                <p class="card-text">{{ like.appuserprofile.username }}</p>
            {% endfor %}
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'like-replay' replay.pk %}">
                    <button class="replay-likes-button">Like</button>
                </a>
                {% if user.is_superuser %}
                    <a href="{% url 'replay-delete' replay.pk %}">
                        <button class="replay-delete-button">Delete</button>
                    </a>
                {% endif %}
            {% else %}
                <p>Please login to like this replay.</p>
            {% endif %}
        </div>
        <div class="comment-section">
            <div class="comment-form">
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit">Comment</button>
                </form>
            </div>
        </div>
        <div class="comment-section">
            <ul>
                {% for comment in replay.comment_set.all %}
                    <li>
                        <strong>Author: {{ comment.author.appuserprofile.username }}</strong>
                        <p>{{ comment.content }}</p>
                        <p>Posted on: {{ comment.created_at }}</p>
                    </li>
                {% empty %}
                    <li>No comments yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
