{% extends 'testdb/base.html' %}
{% load static %}


{% block title %}
    Update Replay
{% endblock %}
{% block content %}
    <link href="{% static 'upload_replay.css' %}" rel="stylesheet">
    <div class="container-upload">
        <h1 class="mb-4">You are about to update {{ replay_name }}</h1>
        <form action="{% url 'update-replay' form.instance.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}
            {{ form.game }}
            {{ form.description }}
            {% if form.instance.video_url %}
            {{ form.video_url }}
            {% else %}
            {{ form.video_upload }}
            {% endif %}
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if message %}
            <h2 class="mt-4">{{ message }}</h2>
        {% endif %}
    </div>
{% endblock %}
