{% extends 'testdb/base.html' %}
{% load static %}


{% block title %}
Upload Replay
{% endblock %}
{% block content %}
    <link href="{% static 'upload_replay.css' %}" rel="stylesheet">
    <div class="container-upload">
        <h1 class="mb-4">Hello, you are about to upload a replay</h1>
        <form action="{% url 'upload-replay' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}

            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if message %}
            <h2 class="mt-4">{{ message }}</h2>
        {% endif %}
    </div>
{% endblock %}
