
body {
    font-family: Arial, sans-serif;
    background-image: url('imges/zane-lee-IHj0xtWtLKE-unsplash.jpg');
    background-size: contain;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #262;
    border-radius: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.card {
    background-color: #263238;
    width: 350px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #262;
    box-shadow: 0 0 20px #226622;
}

.card:hover .card-title {
    color: gold;
}

.card-body {
    padding: 20px;
}

.card-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}


.card-text {
    color: #ccc;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    text-decoration: none;
}

.card-text.author {
    color: #ff4848;
    font-weight: bold;
    text-decoration: none;
}

.card-text.likes {
    color: #6eff71;
    font-weight: bold;
    text-decoration: none;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #ff5252;
}

.navbar-nav .nav-link {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;

}



.navbar-nav .nav-link:hover {
    color: gold;
    background-color: #226622;
    scale: 120%;
    box-shadow: 0 0 20px #226622;

}

.navbar-brand {
    color: #226622;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand:hover{
    color: gold;
}