{% extends 'testdb/base.html' %}
{% load static %}
{% load embed_video_tags %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} INDEX {% endblock %}</title>
</head>
<body>
{% block content %}
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <div class="container">
        <header class="header">
        </header>

        <div class="card-container">
            {% for test_replay in test_replays %}
                <a href="{% url 'replay-details' test_replay.pk %}" class="card-link">
                    <div class="card">
                        {% if test_replay.video_url %}
                        <div class="video-wrapper">{% video test_replay.video_url '500x300' %}</div>
                    {% elif test_replay.video_upload %}
                        <video src="{{ test_replay.video_upload.url }}" controls></video>
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ test_replay.title }}</h3>
                        <p class="card-text">{{ test_replay.description }}</p>
                        <p class="card-text author">Author: {{ test_replay.author.appuserprofile.username }}</p>
                        <p class="card-text likes">Likes: {{ test_replay.like_set.count }}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
