{% extends 'testdb/base.html' %}
{% load static %}
{% load embed_video_tags %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}THIS IS THE INDEX PAGE{% endblock %}</title>
</head>
<body>
{% block content %}
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <div class="container">
        <header class="header">
            <h1>Welcome to BigGames</h1>
            <div>
                <h5>{{ message }}</h5>
            </div>
        </header>

        <div class="card-container">
            {% for test_replay in test_replays %}
                <a href="{% url 'replay-details' test_replay.pk %}" class="card-link">
                    <div class="card">
                    <div class="video-wrapper">{% video test_replay.video '300x250' %}</div>
                    <div class="card-body">
                        <h3 class="card-title">{{ test_replay.title }}</h3>
                        <p class="card-text">{{ test_replay.description }}</p>
                        <p class="card-text author">Author: {{ test_replay.author.username }}</p>
                        <p class="card-text likes">Likes: {{ test_replay.likes.count }}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
