{% extends "testdb/base.html" %}
{% load static %}

{% block title %} Search {% endblock %}
{% block content %}
    <link href="{% static 'search.css' %}" rel="stylesheet">
    <div class="search-container">
        <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            {{ form.query }}
            <br>
            {{ form.game }}
            {{ form.guild }}

            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
    <div>
        {% if search_results %}
            <ul class="search-results">
                {% for result in search_results %}
                    <li class="search-line">
                        <a class="search-link" href="{% url 'replay-details' result.pk %}">
                            {{ result.title }} | Uploaded by: {{ result.author.appuserprofile.username }} | Likes: {{ result.like_set.count }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p class="no-results">No results found.</p>
        {% endif %}
    </div>
{% endblock %}